@model IEnumerable<PostcardsManager.Models.Storage>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StorageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrivateKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StorageLimit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StorageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrivateKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StorageLimit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
