@model System.Collections.Generic.IEnumerable<PostcardsManager.Models.Storage>

@{
    ViewBag.Title = "[[[Storage accounts]]]";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>[[[Storage accounts]]]</h2>

<p>
    @Html.ActionLink("[[[Create New]]]", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StorageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrivateKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StorageLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StorageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrivateKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StorageLimit) (<span class="badge">@item.Images.Count [[[current]]]</span>)
        </td>
        <td>
            @if (item.Enabled)
            {
                <span class="label label-success">[[[Active]]]</span>
            }
            else
            {
                <span class="label label-default">[[[Disabled]]]</span>
            }
        </td>
        <td>
            @Html.ActionLink("[[[Edit]]]", "Edit", new {id = item.Id}) |
            @if (item.Images.Count == 0)
            {
                @Html.ActionLink("[[[Delete]]]", "Delete", new {id = item.Id})
            }
        </td>
    </tr>
}

</table>
