@model PostcardsManager.Models.Series

@{
    ViewBag.Title = Resourses.Resources.Delete;
}

<div class="container">
    <div class="row">
        <h2>@Resourses.Resources.Delete</h2>
    </div>
    <div class="row">
        <h3>@Resourses.Resources.AreYouSureDelete</h3>
    </div>
    <div class="row">
        <h4>@Resourses.Resources.Series</h4>
        <hr/>
    </div>
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                 @Html.DisplayNameFor(model => model.PublisherId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SeriesId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SeriesId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

        </dl>
    </div>
    <div class="row">
         @using (Html.BeginForm())
         {
             @Html.AntiForgeryToken()

             <div class="form-actions no-color">
                 <input type="submit" value="@Resourses.Resources.Delete" class="btn btn-default" /> |
                 @Html.ActionLink(Resourses.Resources.BackToList, "Index")
             </div>
         }
    </div>
</div>