@model PostcardsManager.ViewModels.SeriesViewModel

@{
    ViewBag.Title = "[[[Details]]]";
}

<div class="container">
    <div class="row">
        <h2>[[[Details]]]</h2>
    </div>
    <div class="row">
        <h4>[[[Series]]]</h4>
        <hr/>
    </div>
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublisherName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PublisherName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

    </div>
    <div class="row">
        @foreach (var image in Model.Postcards)
        {
            <div class="col-sm-3">
                <div class="thumbnail">
                    <a href="@Url.Action("Details", "Postcards", new {id = image.Id})"><img src="@image.ImageFrontUrl" title="@image.FrontTitle" alt="@image.FrontTitle" class="img-responsive"/></a>
                </div>
            </div>
        }
    </div>
    <div class="row">
        @Html.ActionLink("[[[Edit]]]", "Edit", new {id = Model.Id}) |
        @Html.ActionLink("[[[Back To List]]]", "Index")
    </div>
</div>