@model PostcardsManager.ViewModels.PhotographerViewModel

@{
    ViewBag.Title = "[[[Details]]]";
}

<div class="container">
    <div class="row">
        <h2>>[[[Details]]]</h2>
    </div>
    <div class="row">
        <h4>>[[[Photographer]]]</h4>
        <hr />
    </div>
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
        </dl>
    </div>
    <div class="row">
        <p>
            @Html.ActionLink("[[[Edit]]]", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("[[[Back To List]]]", "Index")
        </p>
    </div>
</div>