@model IEnumerable<PostcardsManager.ViewModels.PhotographerViewModel>

@{
    ViewBag.Title = "[[[Photographers]]]";
}

<div class="container">
    <div class="row">
        <h2>[[[Photographers]]]</h2>
        <p>
            @Html.ActionLink("[[[Create New]]]", "Create")
        </p>
    </div>
    <div class="row">
        @using (Html.BeginForm("Index", "Photographers", FormMethod.Get))
        {
            <p>
                [[[Find By Name]]] @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="[[[Search]]]" />
            </p>
        }
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("[[[Last Name]]]", "Index", new { sortOrder = ViewBag.LNameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("[[[First Name]]]", "Index", new {sortOrder = ViewBag.FNameSortParm, currentFilter = ViewBag.CurrentFilter})
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.ActionLink("[[[Details]]]", "Details", new {id = item.Id}) |
                        @Html.ActionLink("[[[Edit]]]", "Edit", new {id = item.Id}) |
                        @Html.ActionLink("[[[Delete]]]", "Delete", new {id = item.Id})
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
