@using Resourses
@model PostcardsManager.Models.Postcard

@{
    ViewBag.Title = Resources.Delete;
}

<div class="container">
    <div class="row">
        <h2>@Resources.Delete</h2>
    </div>
    <div class="row">
        <h3>@Resources.AreYouSureDelete</h3>
    </div>
    <div class="row">
        <h4>@Resources.Postcard</h4>
        <hr/>
    </div>
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SeriesId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Series.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhotographerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Photographer.FullName)
            </dd>
        </dl>
    </div>
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="@Resources.Delete" class="btn btn-default"/> |
                @Html.ActionLink(Resources.BackToList, "Index")
            </div>
        }
    </div>
</div>