@model PostcardsManager.Models.Postcard

@{
    ViewBag.Title = "[[[Details]]]";
}

<div class="container">
    <div class="row">
        <h2>[[[Details]]]</h2>
    </div>
    <div class="row">
        <h4>[[[Postcard]]]</h4>
        <hr/>
    </div>
    <div class="row">     
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Year)</dt>
            <dd>@Html.DisplayFor(model => model.Year)</dd>

            <dt>@Html.DisplayNameFor(model => model.PhotographerId)</dt>
            <dd>@Html.DisplayFor(model => model.Photographer.FullName)</dd>

            <dt>@Html.DisplayNameFor(model => model.SeriesId)</dt>
            <dd>@Html.DisplayFor(model => model.Series.Title)</dd>

            <dt>@Html.DisplayNameFor(model => model.NumberInSeries)</dt>
            <dd>@Html.DisplayFor(model => model.NumberInSeries)</dd>

            <dt>@Html.DisplayNameFor(model => model.PostDate)</dt>
            <dd>@Html.DisplayFor(model => model.PostDate)</dd>

            <dt>@Html.DisplayNameFor(model => model.PublishPlace)</dt>
            <dd>@Html.DisplayFor(model => model.PublishPlace)</dd>
        </dl>
    </div>
    <div class="row">
        <hr/>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.FrontTitle)</dt>
            <dd>@Html.DisplayFor(model => model.FrontTitle)</dd>

            <dt>@Html.DisplayNameFor(model => model.FrontTitleFont)</dt>
            <dd>@Html.DisplayFor(model => model.FrontTitleFont)</dd>

            <dt>@Html.DisplayNameFor(model => model.FrontTitleFontColor)</dt>
            <dd>@Html.DisplayFor(model => model.FrontTitleFontColor)</dd>

            <dt>@Html.DisplayNameFor(model => model.BackTitle)</dt>
            <dd>@Html.DisplayFor(model => model.BackTitle)</dd>

            <dt>@Html.DisplayNameFor(model => model.BackTitleFont)</dt>
            <dd>@Html.DisplayFor(model => model.BackTitleFont)</dd>

            <dt>@Html.DisplayNameFor(model => model.BackTitleFontColor)</dt>
            <dd>@Html.DisplayFor(model => model.BackTitleFontColor)</dd>

            <dt>@Html.DisplayNameFor(model => model.BackTitlePlace)</dt>
            <dd>@Html.DisplayFor(model => model.BackTitlePlace)</dd>

            <dt>@Html.DisplayNameFor(model => model.BackType)</dt>
            <dd>@Html.DisplayFor(model => model.BackType)</dd>
        </dl>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#front" aria-controls="front" role="tab" data-toggle="tab">@Html.DisplayNameFor(model => model.ImageFrontId)</a></li>
                <li role="presentation"><a href="#back" aria-controls="back" role="tab" data-toggle="tab">@Html.DisplayNameFor(model => model.ImageBackId)</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="front">
                     @if ((Model.ImageFrontId.HasValue))
                     {
                         <img class="img-responsive" src="@Model.ImageFront.Url" title="@Model.FrontTitle" alt="@Model.FrontTitle"/>
                     }
                </div>
                <div role="tabpanel" class="tab-pane" id="back">
                     @if ((Model.ImageBackId.HasValue))
                     {
                         <img class="img-responsive" src="@Model.ImageBack.Url" title="@Model.FrontTitle" alt="@Model.FrontTitle"/>
                     }
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <p>
            @Html.ActionLink("[[[Edit]]]", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("[[[Back To List]]]", "Index")
        </p>
    </div>
</div>
