@model ContosoUniversity.Models.Postcard

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <h2>Details</h2>
    </div>
    <div class="row">
        <h4>Postcard</h4>
        <hr/>
    </div>
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SeriesId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Series.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhotographerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Photographer.FullName)
            </dd>
        </dl>
    </div>
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.ImageLink))
        {
            <img class="img-responsive" src="@Model.ImageLink" title="@Model.Title" alt="@Model.Title"/>
        }
    </div>
    <div class="row">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PostcardId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
