@model IEnumerable<PostcardsManager.Models.Postcard>

@{
    ViewBag.Title = Resourses.Resources.Series;
}

<div class="container">
    <div class="row">
        <h2>@Resourses.Resources.Postcards</h2>

        <p>
            @Html.ActionLink(Resourses.Resources.CreateNew, "Create")
        </p>
    </div>
    <div class="row">
        @using (Html.BeginForm())
        {
            <p>
                @Resourses.Resources.SelectSeries @Html.DropDownList("SelectedSeries", "All")
                @Resourses.Resources.SelectPhotographer @Html.DropDownList("SelectedPhotographers", "All")
                <input class="btn btn-lg" type="submit" value="@Resourses.Resources.Filter" />
            </p>
        }
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photographer.FullName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photographer.FullName)
                    </td>
                    <td>
                        @Html.ActionLink(Resourses.Resources.Edit, "Edit", new { id = item.PostcardId }) |
                        @Html.ActionLink(Resourses.Resources.Details, "Details", new { id = item.PostcardId }) |
                        @Html.ActionLink(Resourses.Resources.Delete, "Delete", new { id = item.PostcardId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

