@model PostcardsManager.Models.Photographer

@{
    ViewBag.Title = Resourses.Resources.Details;
}

<div class="container">
    <div class="row">
        <h2>>@Resourses.Resources.Details</h2>
    </div>
    <div class="row">
        <h4>>@Resourses.Resources.Photographer</h4>
        <hr />
    </div>
    <div class="row">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
        </dl>
    </div>
    <div class="row">
        <p>
            @Html.ActionLink(Resourses.Resources.Edit, "Edit", new { id = Model.PhotographerId }) |
            @Html.ActionLink(Resourses.Resources.BackToList, "Index")
        </p>
    </div>
</div>