@model PagedList.IPagedList<PostcardsManager.Models.Photographer>

@{
    ViewBag.Title = Resourses.Resources.Photographers;
}

<div class="container">
    <div class="row">
        <h2>@Resourses.Resources.Photographers</h2>
        <p>
            @Html.ActionLink(Resourses.Resources.CreateNew, "Create")
        </p>
    </div>
    <div class="row">
        @using (Html.BeginForm("Index", "Photographers", FormMethod.Get))
        {
            <p>
                @Resourses.Resources.FindByName @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="@Resourses.Resources.Search" />
            </p>
        }
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink(Resourses.Resources.LastName, "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Resourses.Resources.FirstName
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.ActionLink(Resourses.Resources.Edit, "Edit", new { id = item.PhotographerId }) |
                        @Html.ActionLink(Resourses.Resources.Details, "Details", new { id = item.PhotographerId }) |
                        @Html.ActionLink(Resourses.Resources.Delete, "Delete", new { id = item.PhotographerId })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
