@model IEnumerable<PostcardsManager.Models.Publisher>

@{
    ViewBag.Title = Resourses.Resources.Publishers;
}

<div class="container">
    <div class="row">
        <h2>@Resourses.Resources.Publishers</h2>
        <p>
            @Html.ActionLink(Resourses.Resources.CreateNew, "Create")
        </p>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink(Resourses.Resources.Edit, "Edit", new { id = item.PublisherId }) |
                        @Html.ActionLink(Resourses.Resources.Details, "Details", new { id = item.PublisherId }) |
                        @Html.ActionLink(Resourses.Resources.Delete, "Delete", new { id = item.PublisherId })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
